<div class="footer">
  <h1 style="text-align: center;" id="Contact">Contact</h1>
  <div class="footer-links">
    <ul>
      <li>
        <a href="https://www.facebook.com/yonghow.fung/" target="_blank"><i class="fab fa-facebook"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/y.h_fung/" target="_blank"><i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="mailto:contact@yhfung.click?subject=yhfung.click | Contact Form" target="_blank"><i class="fa-solid fa-envelope"></i></a>
      </li>
      <li>
        <a href="https://github.com/yhfung-git" target="_blank"><i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/yhfung/" target="_blank"><i class="fab fa-linkedin"></i></a>
      </li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>Copyright ©2022-<%= Date.today.year %> yhfung.click. All Rights Reserved.</p>
  </div>
</div>
