<div class="footer">
  <%# <h1 class="title-animation mt-4" style="text-align: center;" id="Contact">Contact</h1> %>
  <div class="footer-copyright">
    <p>Copyright ©2022-<%= Date.today.year %> yhfung.click. All Rights Reserved.</p>
  </div>
</div>
