<section id="hard-skills">
  <h1 class="mb-5">hard skills</h1>
  <div class="row">
    <%# Back-end %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Back-end / OOP</h2>
      <ul class="back-end-content hidden">
        <li>Ruby</li>
        <li>Rails</li>
        <li>WordPress</li>
      </ul>
    </div>
    <%# Database %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Database</h2>
      <ul class="database-content hidden">
        <li>SQL</li>
        <li>SQLite</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
    <%# UI/UX %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>UI/UX</h2>
      <ul class="ui-ux-content hidden">
        <li>Figma</li>
      </ul>
    </div>
    <%# Video Editing %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Video Editing</h2>
      <ul class="video-editing-content hidden">
        <li>Adobe Premiere</li>
        <li>Wondershare Filmora</li>
      </ul>
    </div>
  </div>

  <div class="row mt-5 justify-content-between">
    <%# Front-end %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Front-end</h2>
      <ul class="front-end-content hidden">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Webpack</li>
        <li>Node.js</li>
        <li>Sass</li>
      </ul>
    </div>
    <%# Tools %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Tools</h2>
      <ul class="tools-content hidden">
        <li>Git & GitHub</li>
        <li>Console UBUNTU</li>
        <li>VSCode</li>
        <li>Heroku</li>
        <li>CLI</li>
        <li>Cloudinary</li>
        <li>Cloudways</li>
      </ul>
    </div>
    <%# Softwares %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2>Softwares</h2>
      <ul class="softwares-content hidden">
        <li>Word</li>
        <li>Excel</li>
        <li>PowerPoint</li>
        <li>Google Slides</li>
        <li>Slack</li>
        <li>Trello</li>
        <li>Outlook</li>
        <li>Gmail</li>
      </ul>
    </div>
  </div>
</section>
