<section class="hard-skills">
  <div class="row">
    <h1 class="text-center my-5">hard skills</h1>
    <%# Front-end %>
    <div class="col-xs-12 col-md-3">
      <h2>Front-end</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Webpack</li>
        <li>Node.js</li>
        <li>Vue.js</li>
        <li>Sass</li>
      </ul>
    </div>
    <%# Database %>
    <div class="col-xs-12 col-md-3">
      <h2>Database</h2>
      <ul>
        <li>SQlite</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
    <%# Back-end %>
    <div class="col-xs-12 col-md-3">
      <h2>back-end / OOP</h2>
      <ul>
        <li>Ruby</li>
        <li>Ruby on Rails</li>
      </ul>
    </div>
    <%# Tools %>
    <div class="col-xs-12 col-md-3">
      <h2>tools</h2>
      <ul>
        <li>Git & GitHub</li>
        <li>Console UBUNTU</li>
        <li>VSCode</li>
        <li>Heroku</li>
        <li>CLI</li>
        <li>Cloudinary</li>
        <li>Cloudways</li>
        <li>WordPress</li>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <%# UI/UX %>
    <div class="col-xs-12 col-md-3">
      <h2>UI/UX</h2>
      <ul>
        <li>Figma</li>
      </ul>
    </div>
    <%# Video Editing %>
    <div class="col-xs-12 col-md-3">
      <h2>Video Editing</h2>
      <ul>
        <li>Adobe Premiere</li>
        <li>Wondershare Filmora</li>
      </ul>
    </div>
    <%# Softwares %>
    <div class="col-xs-12 col-md-3">
      <h2>Softwares</h2>
      <ul>
        <li>Word</li>
        <li>Excel</li>
        <li>PowerPoint</li>
        <li>Google Slides</li>
        <li>Slack</li>
        <li>Trello</li>
        <li>Outlook</li>
        <li>Gmail</li>
        <li>Hotmail</li>
      </ul>
    </div>
  </div>
</section>
