<section id="hard-skills" data-controller="faq">
  <h1 class="my-5">hard skills</h1>
  <div class="row">
    <%# Front-end %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleFront">Front-end</h2>
      <ul class="front-end-content hidden"  data-faq-target="front">
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Bootstrap</li>
        <li>Webpack</li>
        <li>Node.js</li>
        <li>Sass</li>
      </ul>
    </div>
    <%# Database %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleData">Database</h2>
      <ul class="database-content hidden"  data-faq-target="data">
        <li>SQlite</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
    <%# Back-end %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleBack">back-end / OOP</h2>
      <ul class="back-end-content hidden"  data-faq-target="back">
        <li>Ruby</li>
        <li>Ruby on Rails</li>
      </ul>
    </div>
    <%# Tools %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleTools">tools</h2>
      <ul class="tools-content hidden"  data-faq-target="tools">
        <li>Git & GitHub</li>
        <li>Console UBUNTU</li>
        <li>VSCode</li>
        <li>Heroku</li>
        <li>CLI</li>
        <li>Cloudinary</li>
        <li>Cloudways</li>
        <li>WordPress</li>
      </ul>
    </div>
  </div>

  <div class="row mt-5">
    <%# UI/UX %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleUix">UI/UX</h2>
      <ul class="ui-ux-content hidden" data-faq-target="uix">
        <li>Figma</li>
      </ul>
    </div>
    <%# Video Editing %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleVideo">Video Editing</h2>
      <ul class="video-editing-content hidden"  data-faq-target="video">
        <li>Adobe Premiere</li>
        <li>Wondershare Filmora</li>
      </ul>
    </div>
    <%# Softwares %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <h2 data-action="click->faq#toggleSoftwares">Softwares</h2>
      <ul class="softwares-content hidden"  data-faq-target="softwares">
        <li>Word</li>
        <li>Excel</li>
        <li>PowerPoint</li>
        <li>Google Slides</li>
        <li>Slack</li>
        <li>Trello</li>
        <li>Outlook</li>
        <li>Gmail</li>
        <li>Hotmail</li>
      </ul>
    </div>
  </div>
</section>
