<section id="hard-skills">
  <h1 class="mb-5 skills-content" id="About">hard skills</h1>
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 skills-content">
      <%# Front-end %>
      <h2>Front-end</h2>
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>SCSS</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Stimulus</li>
        <li>Webpack</li>
      </ul>

      <%# Back-end %>
      <div class="addition-padding">
        <h2>Back-end</h2>
        <ul>
          <li>Ruby</li>
          <li>Ruby on Rails</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 skills-content">
      <%# Database %>
      <h2>Database</h2>
      <ul>
        <li>SQL</li>
        <li>SQLite</li>
        <li>PostgreSQL</li>
      </ul>

      <%# Video Editing %>
      <div class="addition-padding">
        <h2>Video Editing</h2>
        <ul>
          <li>Adobe Premiere</li>
          <li>Filmora</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 skills-content">
      <%# UI/UX %>
      <h2>UI/UX</h2>
      <ul>
        <li>Figma</li>
        <li>Canva</li>
        <li>StarUML</li>
      </ul>

      <%# Agile %>
      <div class="addition-padding">
        <h2>Agile</h2>
        <ul>
          <li>Scrum</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 skills-content">
      <%# Tools %>
      <h2>Tools</h2>
      <ul>
        <li>Git & GitHub</li>
        <li>VSCode</li>
        <li>Trello</li>
        <li>Slack</li>
        <li>CLI (Ubuntu)</li>
        <li>Heroku</li>
        <li>Netlify</li>
        <li>Cloudinary</li>
        <li>Mapbox</li>
        <li>PowerPoint</li>
        <li>Word</li>
        <li>Excel</li>
        <li>Google Slides</li>
      </ul>
    </div>
  </div>
</section>
