<section class="timeline">
  <ul>
    <li>
      <div>
        <time>Oct 2022 - Dec 2022</time>
        <div>
          <h1>TITRE PROFESSIONNEL DE DÉVELOPPEUR / CONCEPTEUR D'APPLICATION WEB</h1>
          <p>Professional of Web Application Developer and Designer</p>
          <p>Le Wagon - Bootcamp - Batch 1064</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Oct 2021 - Aug 2022</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p>Ibis Hotel at La Ciotat, 86 rooms</p>
          <p style="text-align: left;">• All aspects of receptionist's duties<br>• Bar and pool services<br>• Setup meeting room</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2022</time>
        <div>
          <h1>GÉRER LES SITUATIONS DIFFICILES FACE À MON CLIENT</h1>
          <p>Handle and dealing with difficult clients</p>
          <p>Academy Accor France</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Feb 2021 - Oct 2021</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p>Corniche du Liouquet Hotel at La Ciotat, 15 rooms</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Dec 2020 - Jan 2021</time>
        <div>
          <h1>Crew</h1>
          <p>Lidl at La Ciotat</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Aug 2020 - Nov 2020</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p>Sure Hotel by Best Western Coeur De Cassis, 28 rooms</p>
          <p style="text-align: left;">• Coordinate with other Best Western hotels</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Sep 2018 - Dec 2019</time>
        <div>
          <h1>DIPLÔME D’UNIVERSITÉ DE LANGUE ET CULTURE FRANÇAISES</h1>
          <p>Diploma in French language and French culture</p>
          <p>Aix-Marseille Université, Aix-en-Provence</p>
          <p style="text-align: left;">• Level B1 / Mention BIEN = GOOD (16/20)</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Feb 2018 - Sep 2018</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p>Quarters Hostel in Singapore, 86 beds</p>
          <p style="text-align: left;">• Competitor analysis<br>• Relations with suppliers and travel agencies</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2016 - Sep 2017</time>
        <div>
          <h1>Customer Service Training</h1>
          <p>Bunc Hostel in Singapore</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2015 - Sep 2017</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p>Bunc Hostel in Singapore, 330 beds</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jun 2014 - Sep 2014</time>
        <div>
          <h1>Bartender Internship</h1>
          <p>Club Med Cherating in Malaysia, 297 rooms</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2013 - Sep 2014</time>
        <div>
          <h1>Diploma in Hospitality & Tourism Management</h1>
          <p>Southern University College in Malaysia and Coleman College in Singapore</p>
        </div>
      </div>
    </li>
  </ul>
</section>
