<section class="timeline">
  <ul>
    <li>
      <div>
        <time>2013</time>
        <div>
          <h1>Diploma in Hospitality & Tourism Management</h1>
          <p>Southern University College in Malaysia and Coleman College in Singapore</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>2014</time>
        <div>
          <h1>Bartender Internship</h1>
          <p>Club Med Cherating in Malaysia<br>(297 rooms)</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>2016</time>
        <div>
          <h1>Customer Service Training</h1>
          <p>Bunc Hostel in Singapore</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>2018</time>
        <div>
          <h1>Diplôme D'université de Langue et Culture Françaises</h1>
          <p>Law of Electric Resistance</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1831</time>
        <div>
          <h1>Discovery</h1>
          <p>Electromagnetic Induction</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1867</time>
        <div>
          <h1>Discovery</h1>
          <p>Dynamite</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1895</time>
        <div>
          <h1>Discovery</h1>
          <p>X Rays</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1897</time>
        <div>
          <h1>Discovery</h1>
          <p>Electron</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1898</time>
        <div>
          <h1>Discovery</h1>
          <p>Radium</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1900</time>
        <div>
          <h1>Discovery</h1>
          <p>Quantum Theory</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1905</time>
        <div>
          <h1>Discovery</h1>
          <p>Principle of Relativity</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1905</time>
        <div>
          <h1>Discovery</h1>
          <p>Photo electric effect</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>1942</time>
        <div>
          <h1>Discovery</h1>
          <p>Nuclear Reactor</p>
        </div>
      </div>
    </li>
  </ul>
</section>
