<h1 class="text-center timeline-title">Education</h1>
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>Oct 2022 - Dec 2022</time>
        <div>
          <h1>PROFESSIONAL TITLE OF WEB APPLICATION DEVELOPER/DESIGNER</h1>
          <p><i class="fa-solid fa-location-dot"></i>Le Wagon Marseille - Bootcamp - #1064</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Titre Professionnel de Développeur / Concepteur d'Application Web</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2022</time>
        <div>
          <h1>MANAGING DIFFICULT SITUATIONS WHILE FACING MY CLIENTS</h1>
          <p><i class="fa-solid fa-location-dot"></i>Academy Accor France</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Gérer les situations difficiles face à mon client</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Sep 2018 - Dec 2019</time>
        <div>
          <h1>Diploma in French Language and Culture</h1>
          <p><i class="fa-solid fa-location-dot"></i>University Aix-Marseille, Aix-en-Provence</p>
          <p><i class="fa-solid fa-thumbs-up"></i> Diplôme d’Université de Langue et Culture Françaises - Level B1</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2016 - Sep 2017</time>
        <div>
          <h1>GUEST RELATIONS TRAINING</h1>
          <p><i class="fa-solid fa-location-dot"></i>Bunc Hostel in Singapore</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2013 - Sep 2014</time>
        <div>
          <h1>Diploma in Hospitality & Tourism Management</h1>
          <p><i class="fa-solid fa-location-dot"></i>Southern University College in Malaysia and Coleman College in Singapore</p>
        </div>
      </div>
    </li>
  </ul>
</section>

<h1 class="text-center timeline-title mt-5">Experience</h1>
<section class="timeline">
  <ul>
    <li>
      <div>
        <time>Oct 2021 - Aug 2022</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p><i class="fa-solid fa-location-dot"></i>Ibis Hotel at La Ciotat, 86 rooms</p>
          <p><i class="fa-solid fa-thumbs-up"></i>All aspects of receptionist's duties</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Bar and pool services</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Setup meeting room</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Feb 2021 - Oct 2021</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p><i class="fa-solid fa-location-dot"></i>Corniche du Liouquet Hotel at La Ciotat, 15 rooms</p>
          <p><i class="fa-solid fa-thumbs-up"></i>All aspects of receptionist's duties</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Garden, Laundry, Breakfast, etc...</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Dec 2020 - Jan 2021</time>
        <div>
          <h1>Crew</h1>
          <p><i class="fa-solid fa-location-dot"></i>Lidl at La Ciotat</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Arrange and fill up the fridge</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Ensuring the quality and freshness of the products</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Aug 2020 - Nov 2020</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p><i class="fa-solid fa-location-dot"></i>Sure Hotel by Best Western Coeur De Cassis, 28 rooms</p>
          <p><i class="fa-solid fa-thumbs-up"></i>All aspects of receptionist's duties</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Coordinate with other Best Western hotels</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Feb 2018 - Sep 2018</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p><i class="fa-solid fa-location-dot"></i>Quarters Hostel in Singapore, 86 beds</p>
          <p><i class="fa-solid fa-thumbs-up"></i>All aspects of receptionist's duties</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Competitor analysis</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Relations with suppliers and travel agencies</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jan 2015 - Sep 2017</time>
        <div>
          <h1>Hotel Receptionist</h1>
          <p><i class="fa-solid fa-location-dot"></i>Bunc Hostel in Singapore, 330 beds</p>
          <p><i class="fa-solid fa-thumbs-up"></i>All aspects of receptionist's duties</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Breakfast, Ordering, etc...</p>
        </div>
      </div>
    </li>
    <li>
      <div>
        <time>Jun 2014 - Sep 2014</time>
        <div>
          <h1>Bartender Internship</h1>
          <p><i class="fa-solid fa-location-dot"></i>Club Med Cherating in Malaysia, 297 rooms</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Set up alcohol events</p>
          <p><i class="fa-solid fa-thumbs-up"></i>Take orders and serve drinks</p>
        </div>
      </div>
    </li>
  </ul>
</section>
