<%# Banner %>
<div class="container">
  <div class="banner" id="top">
    <div class="container">
      <h1>Hello! I'm Yong How!</h1>
      <p><span data-controller="typed-js"></span></p>
      <a class="btn btn-gradient" href="#">Let's Go!</a>
    </div>
  </div>

  <div class="banner" id="About">
    <h1 style="text-align: center;">About Me</h1>
  </div>

  <div class="banner" id="Projects">
    <h1 style="text-align: center;">My Projects</h1>
  </div>

  <div class="banner" id="Contact">
    <h1 style="text-align: center;">Contact Me</h1>
  </div>
</div>
