<%# Banner %>
<div class="container">
  <div class="banner" id="top">
    <div class="container">
      <h1>Hello! I'm Yong How!</h1>
      <p><span data-controller="typed-js"></span></p>
      <%= link_to "Download", download_path, class: "btn btn-gradient draw", target: "_blank" %>
    </div>
    <div class="d-flex justify-content-center flex-column align-items-center" style="padding-top: 100px;">
      <div class="mouse"></div>
      <p class="mouse-p">Scroll</p>
    </div>
  </div>

  <div class="banner">
    <h1 style="text-align: center;" id="About">About Me</h1>
    <%= render "shared/timeline" %>
  </div>

  <div class="banner">
    <h1 style="text-align: center;" id="Projects">My Projects</h1>
  </div>

  <div class="banner">
    <h1 style="text-align: center;" id="Contact">Contact Me</h1>
  </div>
</div>
