// STYLING
.timeline {
  ul {
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: $slumber-green;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 65px;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        z-index: 2;
        background: $slumber-gold;
      }
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 20px;
        background: $slumber-green;
        border-radius: 4px;
        display: flex;
        align-items: center;
        time {
          position: absolute;
          background: #f5af19;
          width: 80px;
          height: 30px;
          top: -15px;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 2px;
        }
        div {
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          h1 {
            font-size: 20px;
            text-transform: uppercase;
          }
          p {
            text-align: center;
          }
        }
      }
      &:nth-of-type(odd) {
        > div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -439px;
        }
      }
    }
  }
}

// ANIMATION
.timeline {
  ul {
    li {
      div {
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &.in-view {
        div {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .timeline {
    ul {
      li {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 80%;
            margin: 10px;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .timeline {
    ul {
      li {
        margin-left: 20px;
        div {
          width: calc(100vw - 91px);
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}
