// Timeline Styling
.timeline-title {
  background-color: #1BA098;
  color: #051622;
  font-size: 40px !important;
  position: relative;
  width: 50%;
  left: 25%;
  border-radius: 4px;
}
.timeline {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      position: relative;
      width: 6px;
      margin: 0 auto;
      padding-top: 50px;
      background: $slumber-green;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        top: 54px;
        transform: translateX(-50%) rotate(45deg);
        width: 20px;
        height: 20px;
        border-radius: 100%;
        z-index: 2;
        background: $slumber-gold;
      }
      div {
        position: relative;
        bottom: 0;
        width: 400px;
        padding: 26px;
        background: rgba(27, 160, 152, .1);
        border-radius: 4px;
        display: flex;
        align-items: center;
        div:hover {
          scale: 1.05;
        }
        time {
          position: absolute;
          background: $slumber-green;
          width: 100%;
          height: 30px;
          left: 0;
          top: 0;
          border-radius: 4px 4px 0 0;
          display: flex;
          justify-content: center;
          align-items: center;
          letter-spacing: 2px;
          color: $slumber-blue;
          font-weight: bold;
          font-size: 18px;
        }
        div {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: transparent;
          padding: 30px 0 0 0;
          i {
            color: #1BA098;
          }
          h1 {
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            line-height: inherit;
            letter-spacing: 1px;
          }
          p {
            text-align: left;
            margin-bottom: 0;
            margin-top: 10px;
            font-size: 15px;
            letter-spacing: 1px;
          }
        }
      }
      &:nth-of-type(odd) {
        > div {
          left: 45px;
        }
      }
      &:nth-of-type(even) {
        > div {
          left: -439px;
        }
      }
    }
  }
}

// Timeline Animation
.timeline {
  ul {
    li {
      div {
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      &.in-view {
        div {
          opacity: 1;
        }
      }
    }
  }
}

// Timeline Screen Size
@media screen and (max-width: 900px) {
  .timeline {
    ul {
      li {
        div {
          width: 250px;
          flex-direction: column;
          div {
            width: 100%;
          }
        }
        &:nth-of-type(even) {
          > div {
            left: -289px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 580px) {
  .timeline-title {
    min-width: calc(100vw - 65px);
    left: 40px;
    border-radius: 4px 4px 4px 0;
    top: 1px;
  }
  .timeline {
    ul {
      padding: 0 20px;
      li {
        margin-left: 20px;
        div {
          width: calc(100vw - 110px);
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .timeline-title {
    left: 25px;
  }
  time {
    font-size: 16px !important;
  }
  .timeline {
    ul {
      padding: 0 35px;
      li {
        margin-left: -10px;
        div {
          max-width: calc(100vw - 80px);
          div {
            p {
              text-align: center;
            }
          }
        }
        &:nth-of-type(even) {
          > div {
            left: 45px;
          }
        }
      }
    }
  }
}

// Skills Styling
.skills {
  h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 35px;
    background-color: $slumber-gold;
    color: $slumber-blue;
  }

  h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    background-color: $slumber-green;
    color: $slumber-blue;
    margin-bottom: 0;
  }

  ul {
    background-color: rgba(27, 160, 152, .1);
    padding: 10px 0 0 30px;
  }

  li {
    color: $slumber-gold;
    font-size: 20px;
    padding: 0 0 10px 16px
  }

  li::marker {
    content: "✔️";
    color: transparent;
    text-shadow: 0 0 $slumber-green;
    font-size: 1rem;
  }

  #hard-skills {
    padding-top: 80px;
  }
}

// Skills Animation
// from top to bottom
.skills-content {
  opacity: 0;
  bottom: 50px;
  position: relative;
  transition: all 1s ease-in-out;
    &.visible {
      opacity: 1;
      bottom: 0;
    }
}
