.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 22px;
  font-weight: bold;
  background: rgba(0, 170, 170, .8);
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: rgba(0, 170, 170, 1);
  color: white;
}
