.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0px 50px;
  position: absolute;
  bottom: 0;
}
.footer p {
  margin: 0;
  color: $slumber-gold;
  font-size: 80%;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $slumber-gold;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  scale: 1.2;
  color: $slumber-green;
}
