.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 0;
}

.container-fluid {
  padding: 0 25px 0 25px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: $slumber-gold;
}

.nav-link:hover {
  color: $slumber-green;
  font-weight: bold;
}
