.navbar {
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}

.container-fluid {
  padding: 0 25px 0 25px;
  justify-content: center !important;
}

.navbar-lewagon {
  background: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon-active {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  margin-right: 20px;
}
.navbar-lewagon .navbar-brand img:hover {
  scale: 1.1;
  animation: bounceOut 0.4s linear;
}

// logo Animation
@keyframes bounceOut {
  0% {
    transform: scale(1.5);
  }

  25% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.2);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

.nav-link {
  color: $slumber-gold;
  margin: auto 20px;
  transition: all 0.3s linear;
}

.nav-link:hover {
  color: $slumber-green;
  font-weight: bold;
  scale: 1.1;
}
