.projects-container {
  padding: 50px 0 80px 0;
  display: flex;
  justify-content: space-around;
}

.projects-container p {
  text-align: center;
  padding-top: 30px;
}

.project-image {
  height: 200px;
  width: 200px;
  border-radius: 3px;
  filter: opacity(0.5);
  transition: 0.5s;
}

.project-image:hover {
  overflow: hidden;
  filter: none;
  scale: 1.05;
  rotate: 5deg;
}
