#Projects {
  margin: 0;
  font-size: 60px;
  font-weight: bold;
}

.projects-container {
  padding: 50px 0 0 0;
  display: flex;
  justify-content: space-around;

  .logo {
    a {
      display: flex;
      justify-content: center;
    }

    p {
      text-align: center;
      padding-top: 30px;
      font-size: 20px;
    }
  }
}

.project-image {
  height: 200px;
  width: 200px;
  border-radius: 3px;
  filter: opacity(0.5);
  transition: 0.5s;
}

.project-image:hover {
  overflow: hidden;
  filter: none;
  scale: 1.05;
  rotate: 5deg;
}

@media screen and (max-width: 470px) {
  .projects-container {
    text-align: center;
    display: block;
    div {
      padding: 0 18px 0 18px;
      margin: 0 45px 0 45px;
      p {
        padding-top: 20px !important;
        margin-bottom: 70px;
      }
      img {
        filter: opacity(1);
      }
    }
  }
}
